@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
    position: relative;
    touch-action: pan-y;
    overscroll-behavior-x: none;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: max(env(safe-area-inset-bottom), 1rem);
  }
  .pt-safe {
    padding-top: max(env(safe-area-inset-top), 1rem);
  }
}

@media screen and (max-width: 768px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}
